body {
    font-family: Arial;
    font-size: 14px;
    margin: 5px;
    background-color: rgb(94, 84, 44);
    color: black;
    padding: 40px 0;
}
.title-on-side {
    text-align: center;
    align-items: center;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 32px;
    font-weight: 900;
}
h1 {
    font-size: 38px;
    padding-left: 10px;
    margin-bottom: 10px;
}
h2 {
    font-size: 18px;
    color: rgb(70, 95, 64);
    padding: 0px;
    margin-left: 25px;
}
h4 {
    margin-top: 5px;
}
span {
    font-size: 22px;
    color: rgb(70, 95, 64);
    margin-left: 10px;
}
.container{
    box-shadow: 0 0 20px gray;
    width: 960px;
    margin: auto;
    background-color:wheat;
    padding: 10px 60px 20px 60px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}
header ul {
    list-style: none; 
}
li {
    margin-bottom: 10px;
}
u {
    color: gray;
}

.address-icon {
    width: 16px;
    height: 16px;
    background-color: rgb(70, 95, 64);
    margin-right: 10px;
    padding: 0px;
    vertical-align:middle;
    border: 5px solid rgb(70, 95, 64);
}
.hobbies-icon {
    width: 27px;
    height: 27px;
    background-color: rgb(70, 95, 64);
    margin: 0;
    padding: 0;
    vertical-align: middle;
    border: 5px solid rgb(70, 95, 64);
}
.profile-picture {
    width: 200px;
    height: 200px;
    margin-bottom: 0px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    border: 5px solid rgb(70, 95, 64);
    padding-left: 3px;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    background-color: rgb(222, 208, 167);
}
.spotify {
    align-items: center;
    text-align: center;
    margin: auto;
}
.eagle-logo {
    width: 120px;
    height: 120px;
    display: flex;
    padding-bottom: 45px;
    margin: auto;
}
.writing {
    margin: auto;
    text-align: center;
    align-items: center;
    color: black;
    font-weight: 900;
    font-size: 18px;
    font-family: monospace;
  }
.square1 {
    width: 1080px;
    height: 74px;
    background-color: white;
    padding: 0;
    flex-wrap: wrap;
    display: flex;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}
.square2 {
    width: 1080px;
    height: 66px;
    background-color: red;
    padding: 0;
    flex-wrap: wrap;
    display: flex;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
  }
.square3 {
    width: 1080px;
    height: 10px;
    background-color: red;
    padding: 0;
    margin-top: -10px;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
.circle {
    border-radius: 50%;
}
.hobbies {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.hobbies li {
    width: 50%;  
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}
.hobbies div {
    margin-left: 20px;
}
.hobbies p {
    color:gray;
    
}

p {
    line-height: 1.5;
}
div p {
    margin-left: 40px;
}
.button-web {
    border: 2.5px solid rgb(70, 95, 64);
    border-radius: 26px;
    color: black;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 15px;
    transition: background-color 0.99s, color 0.66s;
    box-shadow: 0 0 20px gray;
}
.button-web:hover {
    color: while;
    background-color: rgb(70, 95, 64);
}
.button-web:focus {
    outline: none;
    color: white;
    background-color: rgb(70, 95, 64);
}
.button-web:active {
    text-decoration: underline;
}
.button-web:active {
    text-decoration: underline;
}
.contact {
    color: black;
}
.job {
    text-decoration: none;
    color: black;
    border: 2.5px solid rgb(70, 95, 64);
    border-radius: 26px;
    padding: 5px 10px;
    margin-left: 27.5px;
    transition: background-color 0.99s, color 0.66s;
}
.job:hover {
    color: while;
    background-color: rgb(70, 95, 64);
}
.job:focus {
    outline: none;
    color: white;
    background-color: rgb(70, 95, 64);
}
.job:active {
    text-decoration: underline;
}
.school {
    text-decoration: none;
    color: black;
    border: 2.5px solid rgb(70, 95, 64);
    border-radius: 26px;
    padding: 5px 10px;
    margin-left: -12.5px;
    transition: background-color 0.99s, color 0.66s;
}
.school:hover {
    color: while;
    background-color: rgb(70, 95, 64);
}
.school:focus {
    outline: none;
    color: white;
    background-color: rgb(70, 95, 64);
}
.school:active {
    text-decoration: underline;
}

